<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46815929-1', 'hamburgbrewing.com');
  ga('send', 'pageview');

</script>
<!--Google Analytics-->
<!-- Carousel
    ================================================== -->
    <% if user_signed_in? %>
      <%= link_to 'Edit Features', edit_feature_path(@features) %>
    <% end %>

    <% unless @features.message.blank? %>
    <div class="alert alert-success">
      <%= @features.message %>
    </div>
    <% end %>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class='row'><!--row-->
        <div class='col-md-12 col-xs-12'>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag @features.image_cta1, class: 'img-responsive' %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @features.cta1_header %></h1>
              <p>
                <%= @features.cta1_caption %>
              </p>
              <% unless @features.cta1_url.blank? %>
                <p><a class="btn btn-lg btn-primary" href="<%= @features.cta1_url %>" role="button"><%= @features.cta1_button %></a></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @features.image_cta2, class: 'img-responsive' %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @features.cta2_header %></h1>
              <p>
                <%= @features.cta2_caption %>
              </p>
              <% unless @features.cta2_url.blank? %>
                <p><a class="btn btn-lg btn-primary" href="<%= @features.cta2_url %>" role="button"><%= @features.cta2_button %></a></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @features.image_cta3, class: 'img-responsive' %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @features.cta3_header %></h1>
              <p>
                <%= @features.cta3_caption %>
              </p>
              <% unless @features.cta3_url.blank? %>
                <p>
                  <p><a class="btn btn-lg btn-primary" href="<%= @features.cta3_url %>" role="button"><%= @features.cta3_button %></a></p>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
      </div><!--row-->
    </div><!-- /.carousel -->

    <div class="row">
        <div class="col-md-4">
          <h2>Beer Finder</h2>
          <p class="lead">Looking for our beer? Click here to find out where it is.</p>
          <p><a class="btn  btn-primary" href="/locations">Find HBC &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Events</h2>
          <p class="lead">Click here for upcoming events!</p>
          <p><a class="btn btn-primary" href="/events">Meet up &raquo;</a></p>
        </div>
         <div class="col-md-4">
            <h2>Brewery Hours</h2>
            <ul class="lead">
              <li><b>Wed:</b> 4-10pm</li>
              <li><b>Thurs:</b> 4-10pm</li>
              <li><b>Fri:</b> 3-10pm</li>
              <li><b>Sat:</b> 12-10pm</li>
              <li><b>Sun:</b> 12-8pm</li>
            </ul>
          </div>
   </div>