<h1>Our Beers</h1>

<div id="beers" class="transitions-enabled">
  <% @beers.each do |beer| %>
    <div class="box">
      <%= link_to image_tag(beer.image.url(:medium)), beer %>
      <br>
      <h3><%= beer.name %></h3>
      <p>
        <i><%= beer.type %>
        <%= beer.alcohol_percent %>%</i>
      </p>
      <% if user_signed_in? %>
        <%= link_to edit_beer_path(beer), class: 'btn btn-xs btn-primary' do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to beer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-primary' do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        <%= link_to beer_path(beer), class: 'btn btn-xs btn-primary' do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
<%= link_to 'New Beer', new_beer_path, class: "btn btn-primary" %>
<% end %>