<h1>Our Beers</h1>

<div id="beers" class="transitions-enabled">
  <% @beers.each do |beer| %>
    <div class="box">
      <%= link_to image_tag(beer.image.url(:medium)), beer %>
      <br>
      <strong><%= beer.name %></strong>
      <p>
        <i><%= beer.type %>
        <%= beer.alcohol_percent %>%</i>
      </p>
      <%= link_to 'Show', beer_path(beer) %>
      <%= link_to 'Edit', edit_beer_path(beer) %>
      <%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Beer', new_beer_path, class: "btn btn-primary" %>
