<p id="notice"><%= notice %></p>

<p>
  <strong>Cta1 header:</strong>
  <%= @cta.cta1_header %>
</p>

<p>
  <strong>Cta1 caption:</strong>
  <%= @cta.cta1_caption %>
</p>

<p>
  <strong>Cta1 url:</strong>
  <%= @cta.cta1_url %>
</p>

<p>
  <strong>Cta1 button:</strong>
  <%= @cta.cta1_button %>
</p>

<p>
  <strong>Cta2 header:</strong>
  <%= @cta.cta2_header %>
</p>

<p>
  <strong>Cta2 caption:</strong>
  <%= @cta.cta2_caption %>
</p>

<p>
  <strong>Cta2 url:</strong>
  <%= @cta.cta2_url %>
</p>

<p>
  <strong>Cta2 button:</strong>
  <%= @cta.cta2_button %>
</p>

<p>
  <strong>Cta3 header:</strong>
  <%= @cta.cta3_header %>
</p>

<p>
  <strong>Cta3 caption:</strong>
  <%= @cta.cta3_caption %>
</p>

<p>
  <strong>Cta3 url:</strong>
  <%= @cta.cta3_url %>
</p>

<p>
  <strong>Cta3 button:</strong>
  <%= @cta.cta3_button %>
</p>

<%= link_to 'Edit', edit_cta_path(@cta) %> |
<%= link_to 'Back', cta_path %>
